*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-family: "Bebas Neue", sans-serif;
    background-color: #14141475;
    filter: contrast(110%);
    text-align: center;
    font-size:40px;
    color: #FFFFFF40;
    padding: 20px 10px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/pordosol.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.capa{
    background-color: #14141475;
    filter: contrast(110%);
    ul{
        margin-left: 40px;
        margin-bottom: 15px;
        hr{
            mix-blend-mode: color-dodge;
            margin-top: -50px;
        }
        a{
            img{
                position: absolute;
                top: 20px;
                right: 40px;
                border-radius: 20px;
                filter: contrast(100%);
            }
        }
    }
}

.quebra1{
    margin-right: 80px;
    margin-left: 40px;
    mix-blend-mode: color-dodge;
    background-color: none;
}

ul{
    margin-left: 20px;
    font-family: "Outfit", sans-serif;
    color: #f2f5f7;
    list-style-type: none;
}
.Personagens{
    margin-left: 20px;
    margin-top: 65px;
}
.enredo{
    margin-left: 20px;
}
.persoalt{
    margin-top: 5px;
    margin-bottom: 5px;
}
.enredoalt{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 400px;
}

.Trailer{
    border: 2px solid #f2f5f7;
    border-radius: 30px;
    width: fit-content;
    position: absolute;
    top: 550px;
    right: 180px;
    padding: 9px;
    a{
        text-decoration: none;
        color: #f2f5f7;
    }
}

.Dubladores{
    margin-left: 20px;
    margin-bottom: 5px;
}

.separador_de_tudo{
    margin-top: 200px;
    margin-bottom: 50px;
    mix-blend-mode: color-dodge;
}

.personagens {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: white;
    border-radius: 5%;
    margin-bottom: 15px;

}

.personagem img {
    width: 300px;
    height: 400px;
}

.personagem p {
    margin-top: 15px;
    color: #141414;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.separador_personas{
    margin-top: 70px;
    margin-bottom: 50px;
}

.encerramento{
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    
}

.ultima_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: white;
    border-radius: 5%;
    margin-bottom: 5px;
    
}

.texto_ult{
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: #f2f5f7;
    margin-bottom: 40px;
    width: 750px;
    font-size: 30px;
    mix-blend-mode: color-dodge;
}

.creditos{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    margin-top: 10%;
    text-align: justify;
    margin-left: 15px;
}

.coiso{
    background-color: white;
    mix-blend-mode: color-dodge;
    opacity: 40%;
}