*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    padding: 50px;
    text-align: center;
    font-size:75px;
    color: #f2f5f7;
    opacity: 70%;
    margin-bottom: -5px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/pordosol.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.capa ul{
    margin-left: 40px;

    a{
        img{
            position: absolute;
            right: 50px;
            top: 55%;
            transform: translateY(-50%);
            border-radius: 20px;
            
        }
    }
}
ul{
    margin-left: 20px;
    font-family: "Outfit", sans-serif;
    color: #f2f5f7;
    list-style-type: none;
}
.Personagens{
    margin-left: 20px;
    margin-top: 65px;
}
.enredo{
    margin-left: 20px;
}
.persoalt{
    margin-top: 5px;
    margin-bottom: 5px;
}
.enredoalt{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 400px;
}

.Trailer{
    border: 2px solid #f2f5f7;
    border-radius: 30px;
    width: fit-content;
    margin-top: -50px;
    margin-left: 1085px;
    padding: 9px;
    a{
        text-decoration: none;
        color: #f2f5f7;
    }
}

.Dubladores{
    margin-left: 20px;
    margin-bottom: 5px;
}

.separador_de_tudo{
    margin-top: 200px;
    margin-bottom: 50px;
}

.personagens {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: white;
    border-radius: 5%;
    margin-bottom: 15px;
}

.personagem img {
    width: 300px;
    height: 400px;
}

.personagem p {
    margin-top: 15px;
    color: #141414;
    font-family: "Outfit", sans-serif;
    text-align: center;
}